<div>
    <h1>Fib Calculator</h1>
    <br>
    <form [formGroup]="fibForm" (ngSubmit)="onSubmit()">
        <label for="index">Enter your index: </label>
        <input formControlName="index" type="text"  id="index">
        <button [disabled]="!fibForm.valid">Submit</button>
    </form>
    <h3>Indexes I have seen:</h3>
    {{seenIndexes}}
    <h3>Calculated Values:</h3>
    <ul>
        <li *ngFor="let entry of entries">
            For index {{entry.key}} I calculated {{entry.value}}
        </li>
    </ul>
</div>
